.home{
    height: 15px;
    width: 15px;
    background: rgba(210, 196, 3, 1);
    left: -20px;
    bottom: 2px;
    border-radius: 50px;
    position: absolute;
    opacity: 1;
    z-index: 2;
  }

.home-image-box{
  position: relative;
}

.home-image{
  width: 100%;
  margin-bottom: -5px;
}

.lets-begin-box{
  position: absolute;
  bottom: 100px;
  right: 100px;
  height: 20px ;
  width: 100px;
  background-color:rgba(210, 196, 3, 1);
  color: black;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 7px;
  font-size: 20px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.lets-begin-box:hover{
  position: absolute;
  bottom: 95px;
  right: 95px;
  height: 30px ;
  width: 110px;
  background-color:rgba(210, 196, 3, 1);
  color: black;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 5px;
  padding-bottom: 3px;
  font-size: 20px;
  text-align: center;
  border-radius: 8px;}



.your-brand{
  font-size: 30px;
  color: white;
  position: absolute;
  top: 10px;
  left: 70px;
  right: 20px;
  text-align: center;
}

.best-marketing{
  font-size: 30px;
  color: white;
  position: absolute;
  bottom: 150px;
  left: 70px;
  right: 20px;
  text-align: right;
}

.our-services-text-box{
  background-color: black;
  margin-top: 0;
  margin-bottom: 0;
  height: 150px;
}

.our-services-text{
  font-size: 50px;
  text-align: center;
  color: white;
  margin: 0 0 0 0;
  background-color: black;
  padding-top: 50px;
}

.our-services-grid-box{
  padding-left: 50px;
  padding-right: 50px;
  background-color: black;
  padding-bottom: 100px;
}
.our-services-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 80px;
  flex-shrink: 0;
  row-gap: 80px
}

.our-services{
  position: relative;
}

.services-image{
  width: 100%;
  border-radius: 45px;
  outline: 4px solid rgba(210, 196, 3, 1);
  
}

.service-image:hover{
  outline: rgb(224, 223, 203);
}


.learn-more{
  position: absolute;
  bottom: -40px;
  transform: translate(-50%, -50%);
  left: 50%;
  color: black;
  background-color:rgba(210, 196, 3, 1)  ;
  padding: 6px 15px 6px 15px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.5s;
  white-space: nowrap
  ;
}

.learn-more:hover{
  background-color: rgb(224, 223, 203);
}









.review-box{
  position: relative;
}

.success-text{
  font-weight: 1000;
  font-size: 100px;
  text-align: center;
  color: white;
  margin: 0 0 0 0;
  background-color: black;
}

.client-text{
  font-weight: 1000;
  font-size: 50px;
  text-align: center;
  color: white;
  margin: 0 0 0 0;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 80px;
}

.review-container{
  display: flex;
  position: relative;
  background-color: black;
  height: 240px
}

.review-container:before, .review-container:after{
  content: "";
  position: absolute;
  z-index: 2;
}

.review-container:before{
  transform: rotateZ('180deg');
}

.review{
  display: grid;
  grid-template-columns: 300px 400px;
  height: 220px;
  background-color: rgb(218, 216, 216);
  border-radius: 20px;
  animation: scroll 15s 0.5s linear infinite;
}

@keyframes scroll{
  from{
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.review-left{
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px
}

.review-left-innerbox{
  display: grid;
  grid-template-columns: 110px 140px;
  height: 150px ;
  background-color: white;
  box-shadow: 1px 1px 2px grey;
  border-radius: 10px;
  margin-right: -5px;
}

.review-profile-picture{
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-picture{
  width:  90px;
  border-radius: 45px;
}
.review-profie-info{
  width: 140px;
}

.profile-name{
  margin: 0 0 0 0;
  padding-top: 20px;
  font-weight: 700;
}
.properties{
  font-size: 15px;
  margin: 0 0 0 0;
  padding-top: 10px;
}


.review-right{
  padding-top: 25px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px
}

.review-right-innerbox{
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 2px grey;
  width: 380px;
  height: 150px;
  margin-left: -35px;
}
.review-text{
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 20px;
  margin: 0 0 0 0 ;
  font-size: 16px;
}


.transform-box{
  position: relative;
  background-color: black;
}

.transfrom-text{
  font-weight: 1000;
  font-size: 65px;
  text-align: left;
  color: white;
  margin: 0 0 0 0;
  background-color: black;
  padding-top: 50px;
  padding-bottom: 100px;
  width: 800px;
  padding-left: 50px;
}



.lets-begin-box-transform{
  position: absolute;
  bottom:130px;
  right: 100px;
  height: 20px ;
  width: 100px;
  background-color:rgba(210, 196, 3, 1);
  color: black;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 7px;
  font-size: 20px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.lets-begin-box-transform:hover{
  position: absolute;
  bottom:125px;
  right: 95px;
  height: 30px ;
  width: 110px;
  background-color:rgba(210, 196, 3, 1);
  color: black;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 3px;
  font-size: 20px;
  text-align: center;
  border-radius: 8px;
}



@media (min-width: 600px) and (max-width: 839px) {
  .your-brand {
    font-size: 50px;
  }
}

@media (min-width: 840px) and (max-width: 999px) {
  .your-brand {
    font-size: 80px;
  }
}

@media (min-width: 1000px) {
  .your-brand {
    font-size: 100px;
  }
}

@media (max-width: 840px) {
  .best-marketing {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .best-marketing {
    font-size: 15px;
  }
}

@media (min-width: 1000px) and (max-width: 1330px) {
  .learn-more {
    font-size: 18px;
  }
}

  @media (max-width: 1100px ){
    .success-text
    {font-size: 50px ;}
    .client-text{
      font-size: 25px;
    }
  }


@media (min-width: 715px) and (max-width: 1125px ){
    .transfrom-text
    {font-size: 35px;
    width: 400px;}
  }

@media (max-width: 714px ){
    .transfrom-text
    {font-size: 25px;
    width: 200px;}
  }


  @media (max-width: 1075px ){
    .our-services-grid{
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (max-width: 720px ){
    .our-services-grid{
      grid-template-columns: 1fr 1fr ;
    }
  }

